$main-color-blue: #0047b6;
$main-color-dark: #000;
$main-color-grey: #4a4a4a;
$main-color-red: #ff0000;
$main-color-yellow: #ffbb40;
$main-color-white: #e0e0e0;

$color-primary: $main-color-blue;
$color-secondary: $main-color-red;
$color-body: $main-color-dark;
$color-danger: $main-color-red;
$color-warning: $main-color-yellow;

$main-bg-color: $main-color-white
