@function altenarBrillo($col) {
    @debug (
      #{round(hue($col))} / #{round(saturation($col))} / #{round(lightness($col))}
    );

    @if (lightness($col) < 50) {
      $col: lighten($col, 25%);
    } @else {
      $col: darken($col, 25%);
    }

    @debug (
      #{round(hue($col))} / #{round(saturation($col))} / #{round(lightness($col))}
    );
    @return $col;
  }

p {
    color: altenarBrillo(hsl(0, 48%, 45%))
}
