// Variables /////////////////////

$catalogo-colores: (
  1 "steelblue" #4682b4,  // steelblue 4682b4
  2 "hotpink" #ff69b4,  // hotpink ff69b4
  3 "goldenrod" #daa520,  // goldenrod daa520
  4 "forestgreen" #228b22   // forestgreen 228b22
);

$max-width: 1200px;

$tonalidad: 25%;
$combinacion: 60%;

$h-muestra: 75px;

%muestra-mitad {
    height: calc($h-muestra / 2);
}

// Estilos //////////////////////

html {
  margin: 0 auto;
  max-width: $max-width;
  font-family: "Open Sans", sans-serif;
}

section {
  display: flex;
  flex-wrap: wrap;

  h2 {
    flex: 1 0 100%;
    margin: 3rem 0 0 0;
  }

  p {
    flex: 1 0 100%;
    margin: 1rem 0;
  }

  article {
    flex: 1;
    padding: 1rem;

    p {
      display: flex;
      justify-content: space-between;
      label {
        font-weight: bold;
      }
    }
  }
}

@each $colorId, $colorName, $colorValue in $catalogo-colores {
  $col-hex: "#{$colorValue}";
  $col-rgb: "#{red($colorValue)} / #{green($colorValue)} / #{blue($colorValue)}";
  $col-hsl: "#{round(hue($colorValue))} / #{round(saturation($colorValue))} / #{round(lightness($colorValue))}";

  .color-principal-#{$colorId} {
    .muestra {
      background-color: $colorValue;
      height: $h-muestra;
    }

    .datos {
      .nombre::before {
        content: "#{$colorName}";
      }
      .hex::before {
        content:  $col-hex;
      }
      .rgb::before {
        content: $col-rgb;
      }
      .hsl::before {
        content: $col-hsl;
      }
    }
  }

  .tonalidades-color-principal-#{$colorId} {
    h3:before {
      content: $colorName;
    }
    .muestra {
      display: flex;
      height: $h-muestra;

      & > div {
        flex: 1;
      }

      .claro {
        background-color: lighten($colorValue, $tonalidad);
      }
      .normal {
        background-color: $colorValue;
      }
      .oscuro {
        background-color: darken($colorValue, $tonalidad);
      }
    }
  }

  .combinaciones-color-principal-#{$colorId} {
    h3:before {
      content: $colorName;
    }
    .muestra {
      background-color: $colorValue;
      height: $h-muestra;
    }

    @each $colorIdMix, $colorNameMix, $colorValueMix in $catalogo-colores {
      @if $colorName != $colorNameMix {

        .mix-#{$colorIdMix} {
          p:before {
            content: $colorName + " con " + $colorNameMix;
          }

          div {
              @extend %muestra-mitad;
              background-color: mix($colorValue, $colorValueMix, 60%);
          }
        }
      }
    }
  }
}