@use "../01_settings" as s;
@use "../02_tools" as t;

.c-btn {
  padding: 1em 1.5em 1em;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: s.$color-primary;
  border: 1px solid s.$color-primary;
  @include t.conEllipsis;
}

.c-btn:hover {
  transform: translateY(1px);
}