p {
    font-size: 6rem;
  a {
    color: red;
    &:hover {
        font-weight: bold;
    }
    section & {
      color: green;
    }
  }
}



$variable: red;

.parrafo {
  $variable: blue !global;
  color: $variable;
}

.text {
  color: $variable;
}